* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carousel {
  height: 360px;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.carousel .switchLeft,
.carousel .switchRight {
  height: 100%;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 3;
  cursor: pointer;
  -webkit-touch-callout: none;    /* iOS Safari */
  -webkit-user-select: none;      /* Safari */
  -khtml-user-select: none;       /* Konqueror HTML */
  -moz-user-select: none;         /* Firefox */
  -ms-user-select: none;          /* Internet Explorer/Edge */
  user-select: none;              /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.carousel .switchLeft {
  position: absolute;
  left: 0px;
}

.carousel .switchRight {
  position: absolute;
  right: 0px;
}

.carousel .switchRight svg {
  transform: rotate(180deg);
}

.carouselbox {
  height: 360px;
  width: auto;
  overflow-x: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  padding-left: 2rem;

  display: flex;
  align-items: center;
}

@media (max-width: 760px) {
  .carouselbox{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .carousel .switchLeft,
  .carousel .switchRight {
    display: none;
  }
}

.slide-item {
  min-width: 200px;
  max-width: 200px;
  height: 290px;
  background-size: cover;
  background-color: lightgreen;
  margin: 5px 2px;
  cursor: pointer;
  transition: 0.5s ease !important;
  z-index: 2;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  /* margin: 15px; */
}

.slide-item img {
  min-width: 200px;
  max-width: 200px;
  height: 290px;
  border-radius: 5px;
}

.iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border-radius: 5px;
  opacity: 0;
  animation: opacity 1s forwards;
}


.slide-item:hover {
  transform: scale(1.2);
  z-index: 5;
}

.slide-item:hover > .iframe {
  display: block;
  transition: 1s;
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}